/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}*/

a:hover,
.viewBtn:hover {
    color: darkorange;
    text-decoration: none;
}
.viewBtn {
    padding: 7px 14px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #02020282;
    color: white;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Own Style*/

.coursesBox {
    border: 1px solid black;
    height: 700px;
    overflow-y: scroll;
    background-color: wheat;
}

.moduleBox {
    border: 1px solid gray;
    height: 350px;
    background-color: dimgray;
}
.activityBox {
    border: 1px solid gray;
    height: 350px;
    background-color: lightgray;
}
.infoBox {
    border: 1px solid black;
    height: 700px;
    /*overflow-y: scroll;*/
    background-color: gray;
}
.coursesBox,
.moduleBox,
.infoBox,
.myTopPadding {
    padding-top: 25px;
}
.modulBox {
    padding: 30px 0;
}
.activityH6 {
    font-size: 1.3rem;
    font-weight: 700;
}
.myBtn {
    text-decoration: none !important;
    color: black;
}
.myBtn:hover {
    color: wheat;
}
.bgBox {
    border: 1px solid black;
    margin-bottom: 15px;
}
.card-header {
    background-color: gray;
}
.card-body {
    padding: .80rem;
    overflow-y: scroll;
    max-height: 195px;
}
.insideBoxes {
    text-align: center;
    height: auto;
    /*overflow-y: scroll;*/
    background-color: wheat;
}

.boxTitle {
    font-size: 1.75rem;
    font-weight: 700;
}
.boxParagraph {
    width: 100%;
}

.colPadding {
    padding: 0 10px;
}
.colPaddingMiddle {
    padding-right: 0;
}
