/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}*/
h1 {
    font-size: 25px;
    font-weight: 900;
}
a {
    text-decoration: none !important;
    color: black;
}
a:hover,
.viewBtn:hover {
    color: black;
    font-weight: 700;
    text-decoration: none;
}
#btnCourse,
#btnModule,
#btnActivity {
    visibility: hidden;
}
.btn {
    padding: .5rem;
}
.viewBtn {
    padding: 7px 14px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #02020282;
    color: white;
}
.myBtn {
    text-decoration: none !important;
}
.myBtnAdd,
.myBtnEdit,
.btnStudent{
    text-decoration: none !important;
    padding: 5px 10px;
    margin: 5px;
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: capitalize;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: lightgray;
    color: gray;
}
.myBtnAdd {
    width: 140px;
}
.myBtnEdit {
    width: 55px;
}
.myBtnStudent {
    width: 110px;
}
.myBtnAdd:hover,
.myBtnEdit:hover,
.myBtnStudent:hover {
    color: black;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.cursor {
    cursor: pointer;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.navColor {
    background-color: #d7d7d7 !important;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}
hr{
    margin-bottom: 0;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: Roboto;
    min-width: 1450px;
    overflow: auto;
    background-color: #e0f8e0;
}


/* LandingPageStyle */
.bodyColor {
    background-color: wheat;
}
.textCenter {
    text-align: center;
}
.nameH5 {
    font-size: 14px;
    font-weight: 900;
}
.h1Home {
    font-size: 4.5rem;
    color: black;
    font-weight: 900;
    margin: 3rem 0 1rem;
}
.addIcon {
    height: 20px;
    margin: 10px 0;
}
.iconSize {
    height: 40px;
    margin: 30px 0;
}
.navIcon {
    height: 20px;
    padding-bottom: 4px;
}
.passwordIconSize {
    height: 20px;
    margin-left: 25px;
}
.noStyleDisp {
    text-decoration: none;
    color: black;
}
/* Own Style*/
.courseDocuments
.moduleDocuments
.activityDocuments {
    height: 100%;
}
.studentListBox {
    height: 135px;
    overflow-x: hidden;
    overflow-y: auto;
}
.courseInfoBox {
    max-height: 370px;
    padding-top: 15px
}
.courseBoxHeightTop {
    height: 45%;
    overflow-y: auto;
}
.courseBoxHeightBottom {
    height: 50%;
    overflow-y: scroll;
}
.nextCourseInfo {
    margin: 14px 0;
    font-size: 20px;
}
.quotes {
    font-size: 18px;
    font-weight: 700;
}

.quotes::before {
    content: open-quote;
}

.quotes::after {
    content: close-quote;
}
.myListGroup {
    height: auto;
    font-size: 0.75rem;
    margin: 0 0 3px;
}
.myListGroupItem {
    padding: 2px 4px;
}
.myListGroupItem:hover {
    color: black;
    font-weight: 900;
}
.courseNameBox {
    border: 1px solid black;
}
.coursesBox {
    border: 1px solid black;
    height: 795px;
    background-color: #e2f5e2;
    padding: 0 10px;
}
.paddingTop {
    padding-top: 15px;
}

.infoBox {
    border: 1px solid black;
    /*overflow-y: scroll;*/
    background-color: #e2f5e2;
}
.card {
    max-height: 235px;
    overflow-y: scroll;
}

.infoBox,
.coursesBox {
    height: 760px;
}
.coursesBox,
.moduleBox,
.infoBox,
.myTopPadding {
    padding-top: 15px;
}
.modulBox {
    padding: 10px 0 0;
    height: 295px;
}
.card-header {
    padding: 0;
}
.moduleTitle {
    font-size: 1rem;
    padding: 5px;
    margin: 0;
}
.moduleTitle:hover {
    font-weight: 700;
}
.activityH6 {
    font-size: 1.3rem;
    font-weight: 700;
}
.bgBox {
    border: 1px solid black;
    margin-bottom: 15px;
}
.card-header {
    background-color: lightgray;
}
.card-body {
    padding: 4px 15px 0;
    max-height: 195px;
}
.insideBoxes {
    text-align: center;
    height: auto;
    /*overflow-y: scroll;*/
    background-color: #e2f5e2;
}
.courseName {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 700;
}
.boxTitle {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 4px;
}
.nameTitle {
    font-size: 14px;
    font-weight:400;
}
.spanHeader {
    font-size: 20px
}
.courseDescriptionBox {
    font-size: 12px;
    font-style: italic;
}
.boxParagraph {
    width: 100%;
    font-weight: 900;
    font-size: 14px;
}

.colPadding {
    padding: 0 10px;
}
.colPaddingMiddle {
    padding-right: 0;
}
.centerItemVertical {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 30px; /* Vertically center the text there */
    text-align: center;
    font-size: .8rem;
    background-color: #d7d7d7;
}
.docListHeader {
    font-weight: 800;
    color: aliceblue;
    background-color: #808080;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 3px;
}

.docListBody {
    height: 322px;
    color: darkblue;
    overflow-x: auto;
    overflow-y: auto;
    color: black;
    background-color: #e2f5e2;
    letter-spacing: 1px;
    max-height: 248px;
    border-radius: 5px;
}

.docEmptyListMessage {
    font-weight: 800;
    color: #7c7cff;
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 5px;
}

.docListRow {
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.moduleTitleSelected {
    background-color: coral;
    font-size: 1rem;
    padding: 5px;
    margin: 0;
}

.borderRightBox {
    border-left: solid 2px black;
}

.borderSideBox{
    border-right:solid 2px black;
}
.borderTopBox {
    height: 310px;
}
.borderBottomBox {
    height: 360px;
}

.borderBottomBox {
    border-bottom: solid 2px black;
    margin-bottom: 15px;
}
.moduleActivityBoxMarginTop {
    margin-top: 0px;
}
.moduleActivityBoxMargin {
    margin-bottom: 15px;
}
.colHeight {
    height: 280px;
}
.typeBox{
    font-weight: 900;
    font-size: 14px;
}
.modulesList {
    font-size: 12px !important;
}
.activityList {
    font-size: 11px !important;
    padding-left: 15px;
    text-decoration: none;
}
.modulesList:hover,
.activityList:hover,
.myListGroupItem {
    font-weight: 700;
    cursor: pointer;
}
.moduleBox {
    border: 1px solid gray;
    height: 350px;
    background-color: dimgray;
}
.moduleTitleList {
    padding: 0;
    margin: 0;
}
.moduleBoxTitle {
    color: black;
    font-size: 14px;
    font-weight: 700;
    padding-left: 5px;
}
.moduleBox {
    padding: 10px 0 0;
    height: 295px;
    border-radius: 5px;
    background-color: #a8a8a8;
}
.activityDescription {
    font-size: 20px;
    font-weight: 700;
}
.activityBox {
    /*border-left: 1px solid gray;*/
    height: 350px;
    padding: 2px 4px;
    margin-right: 3px;
}
.myListGroupModules {
    padding: 2px 4px;
    text-decoration: none;
    text-align: left;
    margin-bottom: 1px;
}
.myListGroupActivity {
    margin-bottom: 1px;
    padding: 0;
    text-align: left;
    overflow: hidden;
    background-color: #d7d7d7;
}
.myCollapse {
    max-height: 150px;
    overflow-y: scroll;
    margin: 5px 5px 5px 15px;
    border-radius: 5px;
    background-color: #d7d7d7;
}
.activityIcon {
    height: 20px;
    padding-right: 4px;
}
.act {
    font-weight: 700;
}
.activityIconBig {
    height: 35px;
    padding-left: 15px;
}
#studentListHeader {
    visibility: hidden;
}
#accordionModule {
    max-height: 240px;
    overflow-y: auto;
}


