/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}*/
a {
    text-decoration: none !important;
    color: black;
}
a:hover,
.viewBtn:hover {
    color: black;
    font-weight: 700;
    text-decoration: none;
}
.viewBtn {
    padding: 7px 14px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #02020282;
    color: white;
}
.btn {
    padding: 0;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.cursor {
    cursor: pointer;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.navColor {
    background-color: #d7d7d7 !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
hr{
    margin-bottom: 0;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: Roboto;
}


/* LandingPageStyle */
.bodyColor {
    background-color: wheat;
}
.textCenter {
    text-align: center;
}
.h1Home {
    font-size: 4.5rem;
    color: black;
    font-weight: 900;
    margin: 3rem 0 1rem;
}
.iconSize {
    height: 70px;
    margin: 30px 0;
}
.navIcon {
    height: 20px;
    padding-bottom: 4px;
}
.passwordIconSize {
    height: 20px;
    margin-left: 25px;
}
.noStyleDisp {
    text-decoration: none;
    color: black;
}
/* Own Style*/
.courseDocuments
.moduleDocuments
.activityDocuments {
}

.courseBoxHeightTop {
    max-height: 50%;
    overflow-y: scroll;
}
.courseBoxHeightBottom {
    max-height: 50%;
    overflow-y: scroll;
}
.nextCourseInfo {
    font-weight: 700;
    margin: 20px 0;
    letter-spacing: 1px;
    font-size: 20px;
}
.myListGroup {
    height: auto;
    font-size: 0.75rem;
    margin: 0 0 3px;
}
.myListGroupItem {
    padding: 2px 4px;
    margin-right: 3px;
}
.courseNameBox {
    border: 1px solid black;
}
.coursesBox {
    border: 1px solid black;
    height: 700px;
    background-color: wheat;
    padding: 0 10px;
}
.activityDescription {
    font-size: 20px;
    font-weight: 700;
}
.moduleBox {
    border: 1px solid gray;
    height: 350px;
    background-color: dimgray;
}
.activityBox {
    border: 1px solid gray;
    height: 350px;
    background-color: lightgray;
}
.infoBox {
    border: 1px solid black;
    height: 700px;
    /*overflow-y: scroll;*/
    background-color: wheat;
}
.card {
    max-height: 235px;
    overflow-y: scroll;
}

.coursesBox,
.moduleBox,
.infoBox,
.myTopPadding {
    padding-top: 25px;
}
.modulBox {
    padding: 10px 0 0;
    height: 295px;
}
.card-header {
    padding: 0;
}
.moduleTitle {
    font-size: 1rem;
    padding: 5px;
    margin: 0;
}
.activityH6 {
    font-size: 1.3rem;
    font-weight: 700;
}
.myCollapse {
    min-height: 102px;
    overflow-y: scroll;
}
.myBtn {
    text-decoration: none !important;
    color: black;
}
.myBtn:hover {
    color: black;
}
.bgBox {
    border: 1px solid black;
    margin-bottom: 15px;
}
.card-header {
    background-color: lightgray;
}
.card-body {
    padding: 4px 15px 0;
    max-height: 195px;
}
.insideBoxes {
    text-align: center;
    height: auto;
    /*overflow-y: scroll;*/
    background-color: wheat;
}
.courseName {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 700;
}
.boxTitle {
    font-size: 2rem;
    font-weight: 700;
}
.courseDescriptionBox {
    font-size: 1rem;
    font-style: italic;
}
.boxParagraph {
    width: 100%;
}

.colPadding {
    padding: 0 10px;
}
.colPaddingMiddle {
    padding-right: 0;
}
.centerItemVertical {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 30px; /* Vertically center the text there */
    text-align: center;
    font-size: .8rem;
    background-color: #d7d7d7;
}