@model LMS.Models.Module

<h4 class="boxTitle">Module</h4>
<h4 class="quotes nameTitle">@Model.Name</h4>
<h4 class="font-weight-bold">Module Description</h4>
<p class="courseDescriptionBox">@Model.Description</p>
<hr />
<H6 class="font-weight-bold">Module Start Date</H6>
<p class="boxParagraph">@Model.StartDate.ToString("yyyy-MM-dd")</p>
<p class="boxParagraph">@Model.EndDate.ToString("yyyy-MM-dd")</p>

