@model LMS.Models.ViewModels.ModuleListViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div>
    <div class="col-12 modulBox">
        <div class="bgBox">
            <div class="accordion" id="accordionExample">
                <div class="card">

                    @foreach (var item in Model.ModuleList)
                    {
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left myBtn" type="button" data-toggle="collapse"
                                        data-target="#M@(item.Id)" aria-expanded="true" aria-controls="collapseOne">
                                    <h3 class="boxTitle">@item.Name</h3>
                                </button>
                            </h2>
                        </div>

                        <div id="M@(item.Id)" class="collapse" aria-labelledby="headingOne"
                             data-parent="#accordionExample">
                            @foreach (var activity in item.Activities)
                            {
                                <div class="card-body">
                                    <h6 class="activityH6">@activity.Name</h6>
                                </div>
                            }
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
