@model LMS.Models.ViewModels.ModuleListViewModel

<div>

    <h3 class="moduleBoxTitle">Modules and Activities</h3>

    <div class="accordion" id="accordionModule">

        @foreach (var item in Model.ModuleList)
        {

            <ul class="myListGroupModules MyModuleListPostition">
                <li id="X@(item.Id)" class="list-group-item myListGroupModules moduleSelector" data-toggle="collapse"
                    data-target="#M@(item.Id)" aria-expanded="true" aria-controls="">
                    <h4 class="moduleTitleList myListGroupItem modulesList">@item.Name</h4>
                </li>
            </ul>

            <div id="M@(item.Id)" class="collapse myCollapse color" aria-labelledby="headingOne"
                 data-parent="#accordionModule">
                @foreach (var activity in item.Activities)
                {
                    <ul id="A@(activity.Id)" class="myListGroupActivity activitySelector cursor">
                        <li class="myListGroupItem activityList"><img src="~/Images/activity.png" class="activityIcon" alt="Activity image" />@activity.Name</li>
                    </ul>
                }
            </div>
        }
    </div>
</div>