@model LMS.Models.Aktivitet


<div class="courseNameBox">
    <hr />
    <h3 class="boxTitle">Activity Details</h3>
    <p>@Model.Name</p>
    <hr />
    <h4 class="moduleTitle">Activity Description</h4>
    <p class="courseDescriptionBox">@Model.Description</p>
    <hr />
    <H6>Activity Start</H6>
    <p class="boxParagraph">@Model.StartTime</p>
    <hr />
    <H6>Activity End</H6>
    <p class="boxParagraph">@Model.EndTime</p>
</div>
