@model LMS.Models.ViewModels.AddNewActivityViewModel

@{
    ViewData["Title"] = "Add Custom Activity";
}

<h1>Add Custom Activity</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CustomActivityView">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CustomActivityType" class="control-label"></label>
                <input asp-for="CustomActivityType" class="form-control" />
                <span asp-validation-for="CustomActivityType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Add Custom Activity" class="viewBtn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="viewBtn" asp-controller="Courses" asp-action="TeacherOverView">Back to Teacher OverView</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}