@model LMS.Models.Course
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h3 class="boxTitle">
    @Model.Name
</h3>
<p class="boxParagraph">
    @Model.Description
</p>
<p class="boxParagraph">
    @Model.StartDate
</p>

