@model LMS.Models.Course

<div class="modulBox">
    <hr />
    <h3 class="font-weight-bold">Course Name</h3>
    <h4>@Model.Name</h4>
    <hr />
    <h4 class="font-weight-bold">Course Description</h4>
    <p class="courseDescriptionBox">@Model.Description</p>
    <hr />
    <H6  class="font-weight-bold">Course Start Date</H6>
    <p class="boxParagraph">@Model.StartDate.ToString("yyyy-MM-dd")</p>
</div>
