@model LMS.Models.ViewModels.StudentDetailsViewModel

<div class="">
    <h4 class="boxTitle">Student Details</h4>

    <div class="">
        <h5 class="nameTitle font-italic">First Name: <br /> <span class="font-weight-bold">@Model.FirstName</span></h5>
        <h5 class="nameTitle font-italic">Last Name: <br /> <span class="font-weight-bold">@Model.LastName</span></h5>
        <h5 class="nameTitle font-italic">User Name: <br /> <span class="font-weight-bold">@Model.UserName</span></h5>
        <h5 class="nameTitle font-italic">Email: <br /> <span class="font-weight-bold">@Model.Email</span></h5>
    </div>
</div>