@model LMS.Models.Course

<h3 class="boxTitle pt-2">Course Students</h3>
                @foreach (var student in Model.ApplicationUsers)
                {
                    <ul class="list-group myListGroup">
                        <li id="@(student.Id)" class="list-group-item courseSelector myListGroupItem cursor">@student.Id</li>
                    </ul>
                }
