@model List<LMS.Models.ApplicationUser>

<div class="studentListBox">
    <div class="row">
        <div class="col-sm-12">

            @foreach (var student in Model)
    {
            <ul class="list-group myListGroup">
                <li id="S@(student.Id)" class="list-group-item studentSelector myListGroupItem cursor">@student.FullName</li>
            </ul>
    }
            <div class="col-sm-6">
                <button class="btn myBtnEdit">Edit</button>
            </div>
        </div>
    </div>
</div>