@model List<LMS.Models.ApplicationUser>

<div class="">
    <div class="studentListBox colHeight">
        <h3 id="studentListHeader" class="boxTitle">List of Course Students</h3>
        <div class="row">
            <div class="col-sm-12">

                @foreach (var student in Model)
                {
                    <ul class="list-group myListGroup">
                        <li id="S@(student.Id)" class="list-group-item studentSelector myListGroupItem cursor">@student.FullName</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div>&nbsp;</div>
    @if (User.IsInRole("Teacher"))
    {
        <div>
            <a asp-area="Identity" asp-page="/Account/Register" class="btn myBtnAdd float-right">New Student</a>
        </div>
    }
</div>