<div class="courseBoxHeight">
    <h3 class="boxTitle">Courses</h3>


    <div class="row">

            <h3 class="boxTitle">Modules</h3>


            <h3 class="boxTitle">Activities</h3>

    </div>
</div>
