@model LMS.Models.ViewModels.TeacherOverViewModel
@inject LMS.Services.INextActivityService activityService

@{
    ViewData["Title"] = "Teacher Course Overview";
}

<h1>Teacher Course Overview</h1>

<p>
    <a asp-action="Create">Create New Course</a>
</p>
<div class="nextCourseInfo">
    Your next actvity @activityService.GetActivity(User).Name starts at @activityService.GetActivity(User).StartTime.ToString("yyyy-MM-dd | HH:mm")
</div>

<div class="row">
    <div class="col-3 mr-1">
        <div class="coursesBox">
            <div class="courseBoxHeightTop">
                <h3 class="boxTitle">Courses</h3>
                @foreach (var item in Model.Courses)
                {
                    <ul class="list-group myListGroup">
                        <li id="C@(item.Id)" class="list-group-item courseSelector myListGroupItem cursor">@item.Name</li>
                    </ul>
                }
            </div>
            <hr />
            <div id="studentsListContainer">
                <h3 class="boxTitle">Course Students</h3>
            </div>
        </div>
    </div>
    <div class="col-8 infoBox ml-sm-2">
        <div class="row">
            <div class="col-sm-5 colPadding">
                <h2 class="boxTitle">Course Information</h2>
                <div id="courseDetailsContainer"></div>
                <br />
            </div>

            <div class="col-sm-7">
                <div class="row">
                    <div id="courseDocId" class="col-sm-4 activityBox courseDocuments">
                        <h5 class="insideBoxes">Course Documents</h5>
                    </div>
                    <div id="moduleDocId" class="col-sm-4 activityBox moduleDocuments">
                        <h5 class="insideBoxes">Modules Documents</h5>
                    </div>
                    <div id="activityDocId" class="col-sm-4 activityBox activityDocuments">
                        <h5 class="insideBoxes">Activity Documents</h5>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-6 modulBox colPadding" id="moduleListContainer">
                <h3 class="boxTitle">Modules</h3>
            </div>
            <div class="col-6 modulBox colPadding" id="detailsContainer">
            </div>
            
        </div>
    </div>
</div>