@model LMS.Models.ViewModels.TeacherOverViewModel
@inject LMS.Services.INextActivityService activityService

@{
    ViewData["Title"] = "Teacher Course Overview";
}

<h1>Teacher Course Overview</h1>

<p>
    <a asp-action="Create">Create New Course</a>
</p>

<div class="form-group form-check">
    <form asp-action="TeacherOverView">
        <input type="checkbox" class="form-check-input" id="checkbox" asp-for="ShowAllCourses" />
        <label class="form-check-label">Show All Courses</label>
    </form>
</div>

<div class="nextCourseInfo">
    Your next activity <span class="quotes">@activityService.GetActivity(User).Name
           </span> starts at <span class="quotes">@activityService.GetActivity(User).StartTime.ToString("yyyy-MM-dd | HH:mm")</span>
</div>

<div class="row">
    <div class="col-3">
        <div class="coursesBox">
            <div class="courseBoxHeightTop">
                <h3 class="boxTitle">Courses</h3>
                @foreach (var item in Model.Courses)
                {
                    <ul class="list-group myListGroup">
                        <li id="C@(item.Id)" class="list-group-item courseSelector myListGroupItem cursor">@item.Name</li>
                    </ul>
                }
            </div>
            <button class="btn myBtnAdd">Add New Course</button>
            <hr />
            <div class="col-sm-12 modulBox colPadding" id="moduleListContainer">
                <h3 class="boxTitle">Modules and Activities</h3>
            </div>
        </div>
    </div>
    <!--Course and Student list-->
    <div class="col-sm-9 infoBox">
        <div class="row">
            <div class="col-sm-6 borderLeftBox">
                <h3 class="boxTitle">Course</h3>
                <div id="courseDetailsContainer"><div class="col-sm-6">
    <div id="moduleDocId" class="col-sm-12 activityBox moduleDocuments">
    </div>
</div></div>
            </div>

            <div class="col-sm-6 borderRightBox">
                <h3 class="boxTitle">Students</h3>
                <div id="studentsListContainer"></div>
            </div>
        </div>

        <!--Module and Activity-->
        <div class="row">
            <div class="col-sm-6 borderLeftBox">
                <div id="moduleDetailsContainer"></div>
            </div>

            <div class="col-sm-6 borderRightBox">
                <div id="activityDetailsContainer"></div>
            </div>
        </div>
    </div>
</div>