@model LMS.Models.ViewModels.TeacherOverViewModel

@{
    ViewData["Title"] = "Teacher Course Overview";
}

<h1>Teacher Course Overview</h1>

<p>
    <a asp-action="Create">Create New Course</a>
</p>
<div class="nextCourseInfo">
    @Model.NextCourse
</div>

<div class="row">
    <div class="col-3 coursesBox">
        <h3 class="boxTitle">Courses</h3>
        @foreach (var item in Model.Courses)
        {
            <ul class="list-group myListGroup">
                <li id="C@(item.Id)" class="list-group-item courseSelector myListGroupItem cursor">@item.Name</li>
            </ul>
        }
    </div>
    <div class="col-8 infoBox ml-sm-2">
        <div class="row">
            <div class="col-sm-6 colPadding">
                <h2 class="boxTitle">Course Information</h2>
                <div id="courseDetailsContainer"></div>
                <br />
            </div>
            <div class="col-sm-3 colPaddingMiddle">
                <div class="activityBox">
                    <h5 class="insideBoxes">List of Students</h5>
                </div>
            </div>
            <div class="col-sm-3 colPadding">
                <div id="listDocId" class="activityBox">
                    <h5 class="insideBoxes">List of Documents</h5>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-6 modulBox colPadding" id="moduleListContainer">
                <h3 class="boxTitle">Modules</h3>
            </div>
            <div class="col-6 modulBox colPadding" id="activityDetailsContainer">
                <h3 class="boxTitle">Activities</h3>
            </div>
        </div>
    </div>
</div>