<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bodyColor">
    <div class="container textCenter">
        <h1 class="h1Home">LMS - Learning Management System</h1>

        <hr /><br />
        <img src="~/Images/garage.png" class="iconSize" alt="Garage icon" />
        <p class="pHome">
            <a class="parkVehicle" href="../ParkedVehicles/OverView">OverView</a>
        </p>

        
    </div>
    <footer class="border-top footer text-muted centerItemVertical footerBg">
        <div class="container">
            LMS - Grupp 2 || Webmasters Murtaza, Ulf, Mats och Stefan &#169; 2020
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>