<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] LMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bodyColor">
    <div class="container textCenter">
        <h1 class="h1Home">LMS</h1>
        <h3>Learning Management System</h3>

        <hr /><br />

        <p class="pHome">

            <a class="login noStyleDisp" href="../Identity/Account/Login">
                <img src="~/Images/loginKey.png" class="iconSize" alt="Login icon" />
                <h3 class="mb-5">Login</h3>
                <h4 class="noStyleDisp">Welcome Back!</h4>
                <h6 class="noStyleDisp">Please login to access the platform.</h6>
            </a>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>